<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 MERCH</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header class="header">
        <a href="#"><img src="../public/images/logo.png" alt="Logo"></a>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Catalogo</a>
            <a href="#">Mi cuenta</a>
        </nav>
    </header>
</body>
</html>