@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+VN:wght@100..400&family=Quicksand:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d6d6;
}

.container{
    width: 900px;
    height: 600px;
    display: flex;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.container-form{
    width: 100%;
    overflow : hidden;
    
}

.container-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}

.container-form form h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.social-container{
    display: flex;  
    gap: 12px;
    margin-bottom: 25px;
}

.social-container ion-icon{
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}

.container-form form span{
    font-size: 12px;
    margin-bottom: 15px;
}

.container-input{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    padding: 0 15px;

}

.container-input input{
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: #d6d6d6;
    border-radius: 5px;
    padding-left: 10px;
}

.container-form a{
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.btn{
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #900a0b;
    color: white;
}

/*Animacion del formulario*/

.container.toggle .sing-in {
    transform: translateX(100%)
}
.sing-up {
    transform: translateX(-100%)
}
.container.toggle .sing-up {
    transform: translateX(0)
}

/*Seccion de bienvenida*/

.container-welcome {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #900a0b;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    overflow: hidden;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    border-radius: 50% 0 0 50%;
}

.container.toggle .container-welcome {
    transform: translateX(0);
    border-radius: 0 50% 50% 0;
}

.container-welcome .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    color:white;
    transition: transform 0.5s ease-in-out;
}

.welcome-sing-in {
    transform: translateX(100%);
}
.welcome h3{
    font-size: 40px;
}

.welcome p{
    text-align: center;
    font-size: 16px;
}

.container-welcome .btn{
    border: 2px solid white;
   
}

.container.toggle .welcome-sing-in {
    transform: translateX(0);
}

.container.toggle .welcome-sing-up{
    transform: translateX(-100%);
}
