<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/style-carrito.css">
    <title>Carrito</title>
</head>
<body>
    <header class="header">
        <a href="/frotend/views/index.html"><img src="../public/images/logo.png" class="logo" alt="Logo"></a>
        <nav class="navbar">
            <a href="/frotend/views/index.html">Inicio</a>
            <a href="/frotend/views/catalogo.html">Catalogo</a>
            <a href="/frotend/views/registro.html">Mi cuenta</a>
            <a href="/frotend/views/carrito.html"><img src="../public/images/carrito.png" class="logo" alt="carrito de compras"></a>
        </nav>
    </header>
    <div class="container-carrito" id="carrito">
        <div class="info-carrito">
            <h3 class="total" id="Total">Total: 120$</h3>
            <a href="#" class="btn-comprar-definitivo">Comprar</a>
        </div>
        <div class="info-product" id="info-producto-carrito">
            <div class="Content--info">

            </div>
        </div>
    </div>

    <script src="../public/js/carrito.js"></script>
</body>
</html>