<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/style-carrito.css">
    <title>Carrito</title>
</head>
<body>
    <div class="carrito-icono">
        🛒 <span id="carrito-contador">0</span>
    </div>
    <div class="container-carrito" id="carrito">
        <div class="info-carrito">
            <h3 class="total" id="Total">Total: 120$</h3>
            <button class="btn-comprar">Comprar</button>
        </div>
        <div class="info-product" id="info-producto-carrito">
            <div class="Content--info">

            </div>
        </div>
    </div>

    <script src="../public/js/carrito.js"></script>
</body>
</html>