<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/style-carrito.css">
    <title>Carrito</title>
</head>
<body>
    <!-- <header class="header">
        <a href="/frotend/views/index.html"><img src="../public/images/logo.png" class="logo" alt="Logo"></a>
        <nav class="navbar">
            <a href="/frotend/views/index.html" class="active">Inicio</a>
            <a href="/frotend/views/catalogo.html">Catalogo</a>
            <a href="/frotend/views/registro.html">Mi cuenta</a>
            <a href="/frotend/views/carrito.html"><img src="../public/images/carrito.png" class="logo" alt="carrito de compras"></a>
        </nav>
    </header> -->

    <div class="carrito-icono">
        🛒 <span id="carrito-contador">0</span>
      </div>
      
      <!-- En tu página del carrito -->
      <div class="carrito-container" id="carrito">
        <div id="carrito-lista"></div>
        <div id="carrito-total"></div>
      </div>
    <!-- <div class="container-carrito">
        <div class="info-carrito">
            <h3 class="total">Total: 120$</h3>
            <button class="btn-comprar">Comprar</button>
        </div>
        <div class="info-producto-carrito">
            <div class="producto-carrito">
                <div class="img-producto">
                    <img src="../public/images/merch-ferrari.jpeg" alt="">
                </div>
                <div class="info-producto">
                    <h3>Camiseta Ferrari</h3>
                    <p>$ 100.000</p>
                </div>
            </div>
            <div class="eliminar-producto">
                <button class="btn-comprar">Eliminar</button>
            </div>
        </div>
    </div> -->

    <script src="../public/js/catalogo.js"></script>
</body>
</html>