<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/style-catalogo.css">
    <title>Catalogo -F1 MERCH</title>
</head>
<body>
    <header class="header">
        <a href="#"><img src="../public/images/logo.png" class="logo" alt="Logo"></a>
        <nav class="navbar">
            <a href="/frotend/views/index.html" >Inicio</a>
            <a href="/frotend/views/catalogo.html" class="active">Catalogo</a>
            <a href="/frotend/views/registro.html">Mi cuenta</a>
            <a href="#"><img src="../public/images/carrito.png" class="logo" alt="carrito de compras"></a>
        </nav>
    </header>
    <div class="container-catalogo">
        <div class="catalogo-filtros">
            <h2>Filtros</h2>
            <h3>Categorias</h3>
            <button class="btn-filtro">Camisetas</button>
            <button class="btn-filtro">Chaquetas</button>
            <button class="btn-filtro">Gorras</button>
            <button class="btn-filtro">Legos</button>
            <button class="btn-filtro">Souvenirs</button>
            <h3>Equipos</h3>
            <button class="btn-filtro">Alpine</button>
            <button class="btn-filtro">Aston Martin</button>
            <button class="btn-filtro">Ferrari</button>
            <button class="btn-filtro">Haas</button>
            <button class="btn-filtro">Kick Sauber</button>
            <button class="btn-filtro">MClaren</button>
            <button class="btn-filtro">Mercedes</button>
            <button class="btn-filtro">Racing Bulls</button>
            <button class="btn-filtro">Red bull</button>
            <button class="btn-filtro">Williams</button>
            <h3>Pilotos</h3>
            <button class="btn-filtro">Max Verstappen</button>
            <button class="btn-filtro">Lando Norris</button>
            <button class="btn-filtro">Gabriel Bortoleto</button>
            <button class="btn-filtro">Isack Hadjar</button>
            <button class="btn-filtro">Jack Doohan</button>
            <button class="btn-filtro">Pierre Gasly</button>
            <button class="btn-filtro">Andrea Kimi Antonelli</button>
            <button class="btn-filtro">Fernando Alonso</button>
            <button class="btn-filtro">Charles Leclerc</button>
            <button class="btn-filtro">Lance Stroll</button>
            <button class="btn-filtro">Yuki Tsunoda</button>
            <button class="btn-filtro">Alex Albon</button>
            <button class="btn-filtro">Niko Hulkenberg</button>
            <button class="btn-filtro">Sergio Checo Perez</button>
            <button class="btn-filtro">Esteban Ocon</button>
            <button class="btn-filtro">Lewis Hamilton</button>
            <button class="btn-filtro">Carlos Sainz</button>
            <button class="btn-filtro">George Rusell</button>
            <button class="btn-filtro">Oscar Piastri</button>
            <button class="btn-filtro">Oliver Bearman</button>
        </div>
        </div>

        <div class="container-productos">

        </div>

    </div>
</body>
</html>