<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/style-catalogo.css">
    <title>Catalogo -F1 MERCH</title>
</head>
<body>
    <header class="header">
        <a href="/frotend/views/index.html"><img src="../public/images/logo.png" class="logo" alt="Logo"></a>
        <nav class="navbar">
            <a href="/frotend/views/index.html" >Inicio</a>
            <a href="/frotend/views/catalogo.html" class="active">Catalogo</a>
            <a href="/frotend/views/registro.html">Mi cuenta</a>
            <a href="/frotend/views/carrito.html"><img src="../public/images/carrito.png" class="logo" alt="carrito de compras"></a>
        </nav>
    </header>
    <div class="container-catalogo">
        <div class="catalogo-filtros">
            <h2>Filtros</h2>
            <h3>Categorias</h3>
            <button class="btn-filtro" id="filtro_camisetas">Camisetas</button>
            <button class="btn-filtro" id="filtro_chaquetas">Chaquetas</button>
            <button class="btn-filtro" id="filtro_gorras">Gorras</button>
            <button class="btn-filtro" id="filtro_legos">Legos</button>
            <button class="btn-filtro" id="filtro_souvenirs">Souvenirs</button>
        </div>

        <div class="container-productos" id="catalog"></div>

    </div>

    <script src="../public/js/catalogo.js"></script>
</body>
</html>