<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/style-catalogo.css">
    <title>Catalogo -F1 MERCH</title>
</head>
<body>
    <header class="header">
        <a href="/index.html"><img src="../public/images/logo.png" class="logo" alt="Logo"></a>
        <nav class="navbar">
            <a href="/frotend/views/index.html" >Inicio</a>
            <a href="/frotend/views/catalogo.html" class="active">Catalogo</a>
            <a href="/frotend/views/registro.html">Mi cuenta</a>
            <a href="#"><img src="../public/images/carrito.png" class="logo" alt="carrito de compras"></a>
        </nav>
    </header>
    <div class="container-catalogo">
        <div class="catalogo-filtros">
            <h2>Filtros</h2>
            <h3>Categorias</h3>
            <button class="btn-filtro" id="filtro_camisetas">Camisetas</button>
            <button class="btn-filtro" id="filtro_chaquetas">Chaquetas</button>
            <button class="btn-filtro" id="filtro_gorras">Gorras</button>
            <button class="btn-filtro" id="filtro_legos">Legos</button>
            <button class="btn-filtro" id="filtro_souvenirs">Souvenirs</button>
            <h3>Equipos</h3>
            <button class="btn-filtro">Alpine</button>
            <button class="btn-filtro">Aston Martin</button>
            <button class="btn-filtro">Ferrari</button>
            <button class="btn-filtro">Haas</button>
            <button class="btn-filtro">Kick Sauber</button>
            <button class="btn-filtro">MClaren</button>
            <button class="btn-filtro">Mercedes</button>
            <button class="btn-filtro">Racing Bulls</button>
            <button class="btn-filtro">Red bull</button>
            <button class="btn-filtro">Williams</button>
        </div>

        <div class="container-productos" id="catalog">
            <div class="card">
                <img src="../public/images/merch-ferrari.jpeg" alt="">
                <h3>Camiseta Ferrari</h3>
                <p>$ 100.000</p>
                <button class="btn-comprar">Comprar</button>
            </div>
        </div>

    </div>

    <script src="../public/js/catalogo.js"></script>
</body>
</html>