<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 MERCH</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header class="header">
        <a href="/index.html"><img src="../public/images/logo.png" class="logo" alt="Logo"></a>
        <nav class="navbar">
            <a href="/frotend/views/index.html" class="active">Inicio</a>
            <a href="/frotend/views/catalogo.html">Catalogo</a>
            <a href="/frotend/views/registro.html">Mi cuenta</a>
            <a href="#"><img src="../public/images/carrito.png" class="logo" alt="carrito de compras"></a>
        </nav>
    </header>
    <div class="banner">
        <div class="banner-text">
            <h2 class="titulo">
                Acelera tu estilo
                con la ropa de tus
                pilotos favoritos
            </h2>
            <button class="boton">Ver Mas            </button>
        </div>
        <div class="banner-img">
            <img class="img-banner" src="../public/images/Leclerc.png" alt="Imagen de Leclerc para el banner">

        </div>
    </div>

    <!--Esta es la seccion en la que aparecen las categorias de los productos-->
    <div class="categorias">
        <h2 class="titulo">Categorias</h2>
        <div class="categorias-container escuderias">
            <div class="categoria">
                <img src="../public/images/camiseta.png" alt="Camiseta">
            </div>
            <div class="categoria">
                <img src="../public/images/gorra.png" alt="Gorra">
            </div>
            <div class="categoria">
                <img src="../public/images/chaqueta-de-cuero.png" alt="Chaqueta">
            </div>
            <div class="categoria">
                <img src="../public/images/juguete-lego.png" alt="Pantalon">
            </div>
            <div class="categoria">
                <img src="../public/images/llavero.png" alt="Pantalon">
            </div>
        </div>
    </div>
    <!--Esta es la seccion en la que aparece un carrusel de productos-->
    <div class="carrusel-de-productos">
        <h2 class="titulo">Aqui va un carrusel de productos</h2>
        <section class="productos">
            <h2 class="titulo-carrusel">Productos</h2>
            <button class="pre-btn"><img src="../public/images/flecha.png"></button>
            <button class="nxt-btn"><img src="../public/images/flecha.png"></button>
            <div class="product-container">
                <div class="product-card">
                    <div class="product-img">
                        <span>
                            
                        </span>
                    </div>
                </div>
            </div>


        </section>
    </div>
    <div class="categorias">
        <h2 class="titulo">Escuderias</h2>
        <div class="categorias-container">
            <div class="categoria">
                <img src="../public/images/camiseta.png" alt="Camiseta">
            </div>
            <div class="categoria">
                <img src="../public/images/gorra.png" alt="Gorra">
            </div>
            <div class="categoria">
                <img src="../public/images/chaqueta-de-cuero.png" alt="Chaqueta">
            </div>
            <div class="categoria">
                <img src="../public/images/juguete-lego.png" alt="Pantalon">
            </div>
            <div class="categoria">
                <img src="../public/images/llavero.png" alt="Pantalon">
            </div>
            <div class="categoria">
                <img src="../public/images/camiseta.png" alt="Camiseta">
            </div>
            <div class="categoria">
                <img src="../public/images/gorra.png" alt="Gorra">
            </div>
            <div class="categoria">
                <img src="../public/images/chaqueta-de-cuero.png" alt="Chaqueta">
            </div>
            <div class="categoria">
                <img src="../public/images/juguete-lego.png" alt="Pantalon">
            </div>
            <div class="categoria">
                <img src="../public/images/llavero.png" alt="Pantalon">
            </div>
        </div>
    </div>
    <div class="galleria">
        <div class="galleria-container">
            <div class="galleria-item-1">
                <img src="../public/images/Hamilton Ferrari.jpg" alt="Hamilton">
            </div>
            <div class="galleria-item-2">
                <img src="../public/images/Carlos Sainz.jpg" alt="Camiseta">
            </div>
        </div>
        <div class="galleria-container">
            <div class="galleria-item-3">
                <img src="../public/images/Norris Mclaren.jpg" alt="Gorra">
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <a class="footer-item" href="#">Contacto</a>
            <a class="footer-item" href="#">Terminos y condiciones</a>
            <a class="footer-item" href="#">Politica de privacidad</a>
        </div>
    </footer>
</body>
</html>