<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/style-producto.css">
    <title>Producto</title>
</head>
<body>
    <header class="header">
        <a href="/frotend/views/index.html"><img src="../public/images/logo.png" class="logo" alt="Logo"></a>
        <nav class="navbar">
            <a href="/frotend/views/index.html">Inicio</a>
            <a href="/frotend/views/catalogo.html">Catalogo</a>
            <a href="/frotend/views/registro.html">Mi cuenta</a>
            <a href="#"><img src="../public/images/carrito.png" class="logo" alt="carrito de compras"></a>
        </nav>
    </header>

    <div class="container-producto" id="container-producto">
        
    </div>

    <script src="../public/js/catalogo.js"></script>
</body>
</html>